

#chargers-by-country-and-year-inputs-countries-list {
    display: flex;
    flex-direction: column;

    flex: 1;

    overflow: auto;    
}

.chargers-by-country-and-year-inputs-country-input + label {
    font-family: sans-serif;
    font-size: 1em;
}
