<div class="main-container">
  <h1 id="main-title">EV charger statistics</h1>
  <p id="main-text">Shows global statistics for EV charging stations</p>

  <div id="all-graphs">
    <div id="chargers-by-country-and-year">

      <app-dynamic-graph #chargersByCountryAndYear graphId="chargersByCountryAndYear">test text</app-dynamic-graph>

    </div>

    <div id="average-charger-power-by-year">

      <!--
      <app-dynamic-graph graphId="averageChargerPowerByYear">some text</app-dynamic-graph>
      -->
    </div>
  </div>
</div>