<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" />
    <link rel="stylesheet" href="{{url_prefix}}/public/css/site.css">
    <link rel="stylesheet" href="{{url_prefix}}/public/css/marker.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.js"></script>
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script type="text/javascript" src="{{url_prefix}}/public/js/geo_util.js"></script>
    <script type="text/javascript" src="{{url_prefix}}/public/js/clustermarker.js"></script>
    <script type="text/javascript" src="{{url_prefix}}/public/js/markers.js"></script>
    <script type="text/javascript" src="{{url_prefix}}/public/js/rest.js"></script>
    <script type="text/javascript" src="{{url_prefix}}/public/js/searchservice.js"></script>
    <script type="text/javascript" src="{{url_prefix}}/public/js/evchargermap.js"></script>
    <script type="text/javascript" src="{{url_prefix}}/public/js/restquerycaller.js"></script>
</head>

<body>
    <div id="main-view">
        <div id="under-construction">Under construction</div>

        <div id="map-wrapper">
        </div>
    </div>

    <script type="text/javascript" src="{{url_prefix}}/public/bundle.js"></script>

    <script>
        
        const debug = false;

        document.addEventListener('DOMContentLoaded', event => {

            setPathNamePrefix(window.location.pathname);
        })

    </script>
</body>

</html>
