<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.5.1/leaflet.css" />
    <link rel="stylesheet" href="{{url_prefix}}/public/css/site.css">
    <link rel="stylesheet" href="{{url_prefix}}/public/css/marker.css">

    <script type="text/javascript" src="{{url_prefix}}/public/js/pathprefix.js"></script>
</head>

<body>
    <div id="main-view">
        <div id="under-construction">Under construction</div>

        <div id="map-wrapper">
        </div>
    </div>

    <script>

        /* Store path prefix so can adjust URLs in REST calls */
        setPathNamePrefix(window.location.pathname);

    </script>

    <script type="text/javascript" src="{{url_prefix}}/public/bundle.js"></script>
</body>

</html>
